<div ng-controller="ConfirmationController" ng-cloak class="ng-cloak">
	<h1>Choosen products for customerID : {{customerId}}</h1>
	
	<h2 ng-show="!hasSelection">Empty selection</h2>
	
	<div class="tablecontainer" ng-show="hasSelection">
	    <table class="table table-hover">
	        <thead>
	            <tr>
	            	<th>#</th>
	                <th>id</th>
	                <th>Description</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="selectedProduct in selectedProducts">
	            	<td>{{$index+1}}</td>
	                <td><span ng-bind="selectedProduct.id"></span></td>
	                <td><span ng-bind="selectedProduct.description"></span></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	
</div>
