<div ng-controller="CustomerController" ng-cloak class="ng-cloak">
<h1>Choose customerID</h1>
	
	<div class="tablecontainer">
	    <table class="table table-hover">
	        <thead>
	            <tr>
	                <th>CustomerId</th>
	                <th>Location</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="customer in customers">
	                <td><span ng-bind="customer.id"></span></td>
	                <td><span ng-bind="customer.location"></span></td>
	                <td><button type="button" ng-click="startSelection(customer);" class="btn btn-default ">Start selection</button></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	
</div>
