<div ng-controller="ProductsSelectionController" ng-cloak class="ng-cloak">
	
	<div class="row productSelection">
		<div class="col-md-4 col-sm-4 col-xs-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 text-left">
							<div>Sports</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="sportProduct in sportProducts">
						<label>
							<input type="checkbox" ng-model="sportProduct.selected" ng-change="updateBasket(sportProduct)" ng-checked="hasPreviousSelection(sportProduct)">
							<span ng-bind="sportProduct.description"></span>
						</label>	                	
	            	</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="text-center">
							<div>News</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="newsProduct in newsProducts">
						<label>
							<input type="checkbox" ng-model="newsProduct.selected" ng-change="updateBasket(newsProduct)" ng-checked="hasPreviousSelection(newsProduct)">
							<span ng-bind="newsProduct.description"></span>
						</label>	                	
	            	</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 col-sm-4 col-xs-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="text-center">
							<div>Basket</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="selected in getSelectedProducts()">
						<label>
							<span ng-bind="selected.description"></span>
						</label>	                	
	            	</div>
				</div>
				<div class="panel-footer text-center">
					<button type="button" go-click="/confirmation" class="btn btn-primary btn-lg">Checkout</button>
				</div>
			</div>
		</div>
	</div>

</div>